<h1>
	ABOUT
</h1>

<h3>
	Blends practical web development expertise with academic training in business administration to offer employers organized, readable and testable code. Incorporates a background in technical support to creatively optimize and enhance user experience. Utilizes proven passion for business, technology, and complex problem solving to add value to web services.
</h3>

<h2>
	How I Grew to Love Coding
</h2>

<p>
I've been obsessed with technology since my Dad bought our first PC in '96. Growing up I never passed up a free PC from family members who were getting rid of one, and I used those outmoded machines to guiltlessly tear them apart both at hardware and software levels. <br /> <br />
	
	I took a 2 semester course in C during my senior year of high school, which was taught by a parent, who also happened to be a senior developer at IBM. To say he was optimistic to think he could teach C to a class of high schoolers in 2 semesters' time would be an understatement. He may have failed in turning us all into productive developers but, with me, he succeeded in conveying the essence of being a competent coder. Since then, I've strived to think like a programmer. <br /> <br />

	
	That experience lead me to explore some higher level languages of my own, mostly studying HTML syntax, and doing simple tweaks via AppleScipt and CLI tools. <br /> <br />


Although I studied business administration as an undergrad, programming and software config remained of interest to me. During my college years, I started to participate in an online development community, centered around the multimedia application XBMC (now called Kodi). I developed a rudimentary knowledge of Python as a result, and learned a lot about the type of work that goes into designing simple applications that are of actual use. One reason I've devoted myself to learning programming is to play a larger role in open source communities like Kodi. <br /> <br />


Moreover, I now feel certain that my calling is to build a career in software development. To think I might get paid to work with computers seems too good to be true, but I'm ready to work around the clock in order to turn that dream into a reality. <br /> <br />
</p>

<h2>
	What I Enjoy About Programming
</h2>

<p>
	I've always loved to build things, and I have long since gravitated toward working with software, due to the lower costs, risks, and barriers to entry that it presents compared to building with hardware components. <br /> <br />

	Though the process of getting a program to work can often be frustrating, the end result of knowing I coaxed a machine into doing what I ask makes it all worth it. To me, there's no greater feeling than the rush I get when I've been stuck on a complex problem, and finally solve it. <br /> <br />
	
	I like to make computers do things, that's what I'm in this for. <br /> <br />
</p>

<h2>
	How I Learn Best
</h2>

<p>
	Being born in '92, and having grown up taking IT for granted, I prefer learning that transcends the traditional textbook method. <br /> <br />
	
	I tend to learn best getting a brief lesson on a concept, and then getting an example problem to work through on my own. Preferably I'll have instructors and/or peers present while I work through it, in case I get stuck along the way.  <br /> <br />
	
	I'm resourceful when it comes to finding information that isn't already clear to me, and I tend to understand facts and methods better when I discover a need for the information, and then seek it out on my own. <br /> <br />
	
	In other words: I learn by practicing and asking questions as they arise, much better than I do by sitting through long lectures. <br /> <br />
</p>

<h2>
	What Motivates Me 
</h2>

<p>
	To me, the reward of success lies in the success itself. I come from a very large family, with experts branching across countless industries. There's no common thread to our career paths, but most everyone has chosen a lane, stuck to it, and reached for the top. <br /> <br />
	
	I'm a creative type, who gets satisfaction by conceiving and building new things. My drive to succeed is anchored in my own self perception, and my need to produce work I can be proud of. <br /> <br />
	
	When I lend my name to something, I insist upon making it to the absolute best of my ability. I'm devoted to extending my hobbyist understanding of technology into an expert-level knowledge of computing, and I plan to challenge myself tirelessly in order to achieve that goal. <br /> <br />
</p>

<h2>
	Other Passions & Hobbies
</h2>

<p>
	I've always loved to listen to and play music (another precedent set by my extensive family). I play guitar, harmonica, and sing. I don't claim to be all that great, but music is one endeavor in which I seek pleasure, rather than perfection. Music provides a significant outlet for me to unwind, relieve tension, and connect with my roots. <br /> <br />
	
	General trivia is another hobby of mine. I was a proud Quiz Bowler in high school, and seldom miss an episode of Jeopardy! <br /> <br />
	
	On a less intellectual level, I love all things TV. Being a child of the early 2000's my guilty pleasures include Reality (the crappier the better) and late night talk shows, but I've seen most every series that's gotten buzz in the past couple decades. <br /> <br />
</p>
