<h1>
	PROJECTS
</h1>

<h2>
	<%= link_to 'Gnito', 'http://gnito.me/' %>
</h2>

<ul>
	<li>
		Optimized pre-existing CoffeeScript background end, streamlined the service’s API, and implemented blockchain decentralized DNS software to increase end user security, through collaboration with the startup’s founder.
	</li>
</ul>

<h2>
	<%= link_to 'CrowdCensus', 'http://crowdcensus.me/' %>
</h2>

<ul>
	<li>
		Designed and developed a service for users to crowdsource their questions via a clean and simple interface. Autonomously implemented a PostgreSQL database, with AJAX, JQuery, and SASS, to dynamically render user-specific web pages.
	</li>
</ul>

<h2>
	<%= link_to 'API Addicts', 'http://api-addicts.me/' %>
</h2>

<ul>
	<li>
		Utilized pair programming and git workflow to collaborate with three other developers. Productively incorporated Devise, Mailgun, Foundation, and Amazon S3 to enhance UX as users post, rate, and review their favorite APIs.
	</li>
</ul>


