<h1>
	RESUME
</h1>

<h3>
  Eric Fournier <br />
	New York, NY <br />
	<%=link_to "LinkedIn", "linkedin.com/in/efournier92"%> <br />
	<%=link_to "Github", "github.com/efournier92"%> <br />
	<%=link_to "efournier92.me", "efournier92.me"%> <br />
	<%=mail_to "efournier92@gmail.com", "Email"%> <br />
</h3>

<h2>
  Technical Skills	
</h2>

<b>Languages:</b> Ruby, CSS, HTML, JavaScript <br />
<b>Databases:</b> PostgreSQL, MongoDB, ActiveRecord <br />
<b>Software/Tools:</b> Rails, Git, HTTP, Rspec, Capybara, Ajax, SASS, JQuery, Vim, Adobe CS <br />

<h2>
  Professional Experience
</h2>

<b>Launch Academy</b> | Boston, MA | <br />
<i>Apprentice Ruby on Rails Developer</i> <br />
Aug 2016 - Present

<b>Launch Academy</b> | Boston, MA | <br />
<i>Apprentice Ruby on Rails Developer</i> <br />
Feb 2016 - May 2016

<ul>
	<li> Gained experience with Rails, JavaScript, AJAX, OOP, TDD, and Agile approaches, via eight weeks of preliminary online coursework and ten weeks of coding on site. Successfully deployed two Rails applications: </li>
	<ul>
		<li> <b>CrowdCensus</b> | crowdcensus.me | github.com/efournier92/crowdcensus
			<ul>
				<li> Designed and developed a service for users to crowdsource their questions via a clean ActiveRecordnd simple interface. Autonomously implemented a PostgreSQL database, with AJAX, JQuery, and SASS, to dynamically render user-specific web pages. </li>
			</ul>
	</ul>
	<ul>
		<li> <b>API-Addicts</b> | api-addicts.me | github.com/efournier92/ActiveRecordpi-addicts </li>
		<ul>
			<li> Utilized pair programming and git workflow to collaborate with three other developers. Productively incorporated Devise, Mailgun, Foundation, and Amazon S3 to enhance UX as users post, rate, and review their favorite APIs. </li>
		</ul>
	</ul>
</ul>

<b>Vertek</b> | Colchester, VT | <br />
<i>Technical Service Specialist</i> <br />
Nov 2014 - Oct 2015
<ul>
	<li> Provided technical support to cable technicians installing security systems at nationwide retail locations. Increased process efficiency by revising interdepartmental call scripts. </li>
</ul>

<h2> Projects </h2>
<b>Gnito</b> | gnito.me | <br /> 
<i>Co-Founder &amp; Software Contributor </i> <br /> 
May 2016 – Present
<ul>
	<li> Optimized pre-existing CoffeeScript back end, streamlined the service’s API, and implemented blockchain decentralized DNS software to increase end user security, via direct collaboration with CEO. </li>
</ul>

<h2> Education </h2>
<b>Bishop's University</b> | Sherbrooke, QC | <br /> 
<i>	Bachelor of Business Administration </i> <br />
Sep 2010 - June 2014
<ul>
	<li> Consulted on mandates for local companies, while learning the fundamentals of successful business. Collaborated with dozens of teams via an immersive curriculum and diverse student body. </li>
</ul>

