<h3>
	Eric Fournier <br />
	Junior Developer <br />
	Boston, MA <br />
	<%=link_to "LinkedIn", "linkedin.com/in/efournier92"%> <br />
	<%=link_to "Github", "github.com/efournier92"%> <br />
	<%=mail_to "efournier92@gmail.com", "Email"%> <br />
</h3>

<h2>
	Summary
</h2>

<p>
	Blends practical web development expertise with academic training in business administration to offer employers organized, readable and testable code. Incorporates a background in technical support to creatively optimize and enhance user experience. Utilizes proven passion for business, technology, and complex problem solving to add value to web services.
</p>

<h2>
	Qualifications
</h2>

<h3>
	Languages:
</h3>

<ul>
	<li>Ruby</li>
	<li>JavaScript</li>
	<li>CSS</li>
	<li>HTML</li>
	<li>Python</li>
</ul>

<h3>
	Tools & Software:
</h3>

<ul>
	<li>Rails</li>
	<li>Git</li>
	<li>HTTP</li>
	<li>Rspec</li>
	<li>Capybara</li>
	<li>Vim</li>
	<li>Ajax</li>
	<li>SASS</li>
	<li>JQuery</li>
	<li>Adobe CS</li>
</ul>

<h3>
	Databases:
</h3>

<ul>
	<li>SQL</li>
	<li>PostgreSQL</li>
	<li>MySQL</li>
	<li>ActiveRecord</li>
</ul>

<h2>
	Projects
</h2>

<h4>
	Gnito <br />
	JavaScript/Ruby <br />
	gnito.me <br />
</h4>

<p>
	Optimized pre-existing CoffeeScript back end, streamlined the service’s API, and implemented blockchain decentralized DNS software to increase end user security, through collaboration with the startup’s founder.
</p>

<h4>
	CrowdCensus <br />
	Ruby on Rails <br />
	crowdcensus.me <br />
</h4>

<p>
	Designed and developed a service for users to crowdsource their questions via a clean and simple interface. Autonomously implemented a PostgreSQL database, with AJAX, JQuery, and SASS, to dynamically render user-specific web pages.
</p>

<h2>
	Employment History
</h2>

<h4>
	Launch Academy <br />
	Feb 2016 - Apr 2016 <br />
	Ruby on Rails Apprentice <br />
</h4>

<p>
	Gained experience with Rails, JavaScript, AJAX, OOP, TDD, and more, via eight weeks of preliminary coursework and ten weeks of coding on site. Successfully deployed two Rails applications during this time.
</p>

<h4>
	Vertek <br />
	Nov 2014 - Oct 2015 <br />
	Technical Service Specialist <br />
</h4>
	

<p>
	Responsible for providing technical support to cable technicians installing security systems at nationwide retail locations. Increased process efficiency by revising interdepartmental call scripts.
</p>

<h2>
	Education
</h2>

<h4>
	Bishop's University  <br />
	Sept 2010 - June 2014 <br />
	Business Administration <br />
</h4>

<p>
	Consulted on mandates for local companies, while learning the fundamentals of successful business. Collaborated with dozens of teams via an immersive curriculum and diverse student body.
</p>

