@font-face {
  font-family: "timeburnerbold";
  src: url(/assets/timeburnerbold);
}

.vcard {
	color: white;
	font-family: timeburnerbold;
	background-color: black;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 750px;
	height: 450px;
	margin-right: auto;
	margin-left: auto;
	transform: translate(-50%, -50%);
}

.vcard img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar_top {
	display: inline-block;
	font-family: timeburnerbold;
	width: 100%;
	white-space: nowrap;
	// border-bottom-style: solid;
  // border-bottom-width: 1px;
  // border-bottom-color: #0f3246;
	// border-top: none;
	// border-right: none;
	// border-left: none;
}

.navbar_bottom_main {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.navbar_bottom {
	display: inline-block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	white-space: nowrap;
}

.button_top {
	color: #ffffff;	
	height: 20%;
	width: 33%;
	display: inline-block;
	padding-top: 4px;
	padding-bottom: 3px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top: none;
	border-bottom: none;
	border-left: none;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}

.button_bottom {
	width: 25%;
	height: 20%;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}

.button_rightmost {
	color: #ffffff;
	width: 33%;
	height: 20%;
	display: inline-block;
	padding-top: 2px;
	padding-bottom: 3px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}

.button a {
	border: none;
}

.button_rightmost a {
	border: none;
}

.name {
	color: #ffffff;
	width: 100%;
	text-align: center;
	font-size: 45px;
	margin-bottom: -25px;
}
