<div class="header">
	Eric Fournier
	Boston, MA
	Junior Developer
	
	802-734-9917
	efournier92@gmail.com
	github.com/efournier92
	linkedin.com/in/efournier92
</div>

<div class="section_title">
	Summary
</div>
Blends practical web development expertise with academic training in business administration to offer employers organized, readable and testable code. Incorporates a background in technical support to creatively optimize and enhance user experience. Utilizes proven passion for business, technology, and complex problem solving to add value to web services.

<div class="section_title">
	Qualifications
</div>

<div class="section_subtitle">
	Languages:
</div>
<ul>
	<li>Ruby</li>
	<li>JavaScript</li>
	<li>CSS</li>
	<li>HTML</li>
	<li>Python</li>
</ul>

<div class="section_subtitle">
	Tools & Software:
</div>
<ul>
	<li>Rails</li>
	<li>Git</li>
	<li>HTTP</li>
	<li>Rspec</li>
	<li>Capybara</li>
	<li>Vim</li>
	<li>Ajax</li>
	<li>SASS</li>
	<li>JQuery</li>
	<li>Adobe CS</li>
</ul>

<div class="section_subtitle">
	Databases:
</div>
<ul>
	<li>SQL</li>
	<li>PostgreSQL</li>
	<li>MySQL</li>
	<li>ActiveRecord</li>
</ul>

<div class="section_subtitle">
	Projects
</div>

<div class="bold">
	Gnito
	JavaScript/Ruby
	gnito.me
</div>
Optimized pre-existing CoffeeScript back end, streamlined the service’s API, and implemented blockchain decentralized DNS software to increase end user security, through collaboration with the startup’s founder.

<div class="bold">
	CrowdCensus
	Ruby on Rails
	crowdcensus.me
</div>
Designed and developed a service for users to crowdsource their questions via a clean and simple interface. Autonomously implemented a PostgreSQL database, with AJAX, JQuery, and SASS, to dynamically render user-specific web pages.

<div class="section_subtitle">
	Employment History
</div>

<div class="bold">
	Launch Academy
	Feb 2016 - Apr 2016
	Ruby on Rails Apprentice
</div>
Gained experience with Rails, JavaScript, AJAX, OOP, TDD, and more, via eight weeks of preliminary coursework and ten weeks of coding on site. Successfully deployed two Rails applications during this time.

<div class="bold">
	Vertek
	Nov 2014 - Oct 2015
	Technical Service Specialist
</div>
Responsible for providing technical support to cable technicians installing security systems at nationwide retail locations. Increased process efficiency by revising interdepartmental call scripts.

<div class="section_subtitle">
	Education
</div>

<div class="bold">
	Bishop's University 
	Sept 2010 - June 2014
	Business Administration
</div>
Consulted on mandates for local companies, while learning the fundamentals of successful business. Collaborated with dozens of teams via an immersive curriculum and diverse student body.

